body {
	background-color: #4A1414;

}

#container {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 1000px;
}


.headerPhoto {
	margin: -8px auto 0 auto;
	width: 1000px;
	height: 234px;
}

.logo {
	position: absolute;
	margin-left: 30px;
	margin-top: -90px;
}

.verticalMenu {
	position: absolute;
	margin-left: 60px;
	margin-top: 60px;
	list-style: none;
}

.verticalMenu li {
	color: #fff;
}

.verticalMenu a {
	height: 30px;
	width: 170px;
	margin-left: -36px;
	margin-bottom: 14px;
	background-color: #1C4B2C;
	padding-left: 30px;
	color: white;
	display: block;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 30px;

}

#lowerContainer {

	height: 850px;
	margin-top: -24px;
	/*margin-top: -8px;*/
	width: 1000px;
	background-color: white;
	margin: 0 auto 0 auto;
}

#nextMeeting {
	margin-top: 460px;
	margin-left: 34px;
	width: 260px;
	height: 260px;
	background-color: #91775C;
}

#nextMeeting h1 {
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #452F19;
	line-height: 50px;
	margin-left: 12px;
}

#nextMeeting h2 {

	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #fff;
	margin-top: -20px;
	margin-bottom: -10px;
	margin-left: 20px;

}

#nextMeeting p {
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 22px;
	/*margin-top: 0px;*/
}

#leftHome {
	float: left;
	width: 333px;
	background-color: white;
	/*height: 475px;*/
}

#middleHome {
	float: left;
	width: 273px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	/*background-color: red;*/
}

#rightHome {
	float: right;
	padding-top: 20px;	
	padding-left: 30px;
	padding-right: 27px;
	width: 270px;
	/*background-color: #FFF12D;*/
}

h1 {
	color: #4A1414;
	font-size: 21px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 15px;
	color: #1C4B2C;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: -12px;
}

p {
	/*color: #595A5C; */
	color: #424244;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

.clear {
	clear: both;
}

footer {
	width: 1000px;
	height: 60px;
	background-color: #7D5429;
}


.horizontalMenu li {
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: white;
	border-right-

}

.horizontalMenu {
	margin: 0 0 0 18%;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.horizontalMenu a {
	color: white;
	margin-top: 10px;
	display: block;
	line-height: 15px;
	padding: 0 10px;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.horizontalMenu li:last-child {
	border-right-style: none;
}

.join-login {
	position: absolute;
	display: block;
	margin-left: 50%;
	margin-top: -236px;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #fff; 
	height: 25px;
}

.join-login p {
	margin-top: 3px;
	padding: 0 15px 0 15px;

}

.join-login a {
	color: #808184;
	font-weight: bolder;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #fff;
}
