
.starsbar.gdsr-size-12, .starsbar.gdsr-size-12 .gdheight, .starsbar.gdsr-size-12 a {
    height: 12px;
}
.starsbar.gdsr-size-12 a.s1 {
    width: 12px;
}
.starsbar.gdsr-size-12 a.s2 {
    width: 24px;
}
.starsbar.gdsr-size-12 a.s3 {
    width: 36px;
}
.starsbar.gdsr-size-12 a.s4 {
    width: 48px;
}
.starsbar.gdsr-size-12 a.s5 {
    width: 60px;
}
.starsbar.gdsr-size-12 a.s6 {
    width: 72px;
}
.starsbar.gdsr-size-12 a.s7 {
    width: 84px;
}
.starsbar.gdsr-size-12 a.s8 {
    width: 96px;
}
.starsbar.gdsr-size-12 a.s9 {
    width: 108px;
}
.starsbar.gdsr-size-12 a.s10 {
    width: 120px;
}
.starsbar.gdsr-size-12 a.s11 {
    width: 132px;
}
.starsbar.gdsr-size-12 a.s12 {
    width: 144px;
}
.starsbar.gdsr-size-12 a.s13 {
    width: 156px;
}
.starsbar.gdsr-size-12 a.s14 {
    width: 168px;
}
.starsbar.gdsr-size-12 a.s15 {
    width: 180px;
}
.starsbar.gdsr-size-12 a.s16 {
    width: 192px;
}
.starsbar.gdsr-size-12 a.s17 {
    width: 204px;
}
.starsbar.gdsr-size-12 a.s18 {
    width: 216px;
}
.starsbar.gdsr-size-12 a.s19 {
    width: 228px;
}
.starsbar.gdsr-size-12 a.s20 {
    width: 240px;
}
.starsbar.gdsr-size-16, .starsbar.gdsr-size-16 .gdheight, .starsbar.gdsr-size-16 a {
    height: 16px;
}
.starsbar.gdsr-size-16 a.s1 {
    width: 16px;
}
.starsbar.gdsr-size-16 a.s2 {
    width: 32px;
}
.starsbar.gdsr-size-16 a.s3 {
    width: 48px;
}
.starsbar.gdsr-size-16 a.s4 {
    width: 64px;
}
.starsbar.gdsr-size-16 a.s5 {
    width: 80px;
}
.starsbar.gdsr-size-16 a.s6 {
    width: 96px;
}
.starsbar.gdsr-size-16 a.s7 {
    width: 112px;
}
.starsbar.gdsr-size-16 a.s8 {
    width: 128px;
}
.starsbar.gdsr-size-16 a.s9 {
    width: 144px;
}
.starsbar.gdsr-size-16 a.s10 {
    width: 160px;
}
.starsbar.gdsr-size-16 a.s11 {
    width: 176px;
}
.starsbar.gdsr-size-16 a.s12 {
    width: 192px;
}
.starsbar.gdsr-size-16 a.s13 {
    width: 208px;
}
.starsbar.gdsr-size-16 a.s14 {
    width: 224px;
}
.starsbar.gdsr-size-16 a.s15 {
    width: 240px;
}
.starsbar.gdsr-size-16 a.s16 {
    width: 256px;
}
.starsbar.gdsr-size-16 a.s17 {
    width: 272px;
}
.starsbar.gdsr-size-16 a.s18 {
    width: 288px;
}
.starsbar.gdsr-size-16 a.s19 {
    width: 304px;
}
.starsbar.gdsr-size-16 a.s20 {
    width: 320px;
}
.starsbar.gdsr-size-20, .starsbar.gdsr-size-20 .gdheight, .starsbar.gdsr-size-20 a {
    height: 20px;
}
.starsbar.gdsr-size-20 a.s1 {
    width: 20px;
}
.starsbar.gdsr-size-20 a.s2 {
    width: 40px;
}
.starsbar.gdsr-size-20 a.s3 {
    width: 60px;
}
.starsbar.gdsr-size-20 a.s4 {
    width: 80px;
}
.starsbar.gdsr-size-20 a.s5 {
    width: 100px;
}
.starsbar.gdsr-size-20 a.s6 {
    width: 120px;
}
.starsbar.gdsr-size-20 a.s7 {
    width: 140px;
}
.starsbar.gdsr-size-20 a.s8 {
    width: 160px;
}
.starsbar.gdsr-size-20 a.s9 {
    width: 180px;
}
.starsbar.gdsr-size-20 a.s10 {
    width: 200px;
}
.starsbar.gdsr-size-20 a.s11 {
    width: 220px;
}
.starsbar.gdsr-size-20 a.s12 {
    width: 240px;
}
.starsbar.gdsr-size-20 a.s13 {
    width: 260px;
}
.starsbar.gdsr-size-20 a.s14 {
    width: 280px;
}
.starsbar.gdsr-size-20 a.s15 {
    width: 300px;
}
.starsbar.gdsr-size-20 a.s16 {
    width: 320px;
}
.starsbar.gdsr-size-20 a.s17 {
    width: 340px;
}
.starsbar.gdsr-size-20 a.s18 {
    width: 360px;
}
.starsbar.gdsr-size-20 a.s19 {
    width: 380px;
}
.starsbar.gdsr-size-20 a.s20 {
    width: 400px;
}
.starsbar.gdsr-size-24, .starsbar.gdsr-size-24 .gdheight, .starsbar.gdsr-size-24 a {
    height: 24px;
}
.starsbar.gdsr-size-24 a.s1 {
    width: 24px;
}
.starsbar.gdsr-size-24 a.s2 {
    width: 48px;
}
.starsbar.gdsr-size-24 a.s3 {
    width: 72px;
}
.starsbar.gdsr-size-24 a.s4 {
    width: 96px;
}
.starsbar.gdsr-size-24 a.s5 {
    width: 120px;
}
.starsbar.gdsr-size-24 a.s6 {
    width: 144px;
}
.starsbar.gdsr-size-24 a.s7 {
    width: 168px;
}
.starsbar.gdsr-size-24 a.s8 {
    width: 192px;
}
.starsbar.gdsr-size-24 a.s9 {
    width: 216px;
}
.starsbar.gdsr-size-24 a.s10 {
    width: 240px;
}
.starsbar.gdsr-size-24 a.s11 {
    width: 264px;
}
.starsbar.gdsr-size-24 a.s12 {
    width: 288px;
}
.starsbar.gdsr-size-24 a.s13 {
    width: 312px;
}
.starsbar.gdsr-size-24 a.s14 {
    width: 336px;
}
.starsbar.gdsr-size-24 a.s15 {
    width: 360px;
}
.starsbar.gdsr-size-24 a.s16 {
    width: 384px;
}
.starsbar.gdsr-size-24 a.s17 {
    width: 408px;
}
.starsbar.gdsr-size-24 a.s18 {
    width: 432px;
}
.starsbar.gdsr-size-24 a.s19 {
    width: 456px;
}
.starsbar.gdsr-size-24 a.s20 {
    width: 480px;
}
.starsbar.gdsr-size-30, .starsbar.gdsr-size-30 .gdheight, .starsbar.gdsr-size-30 a {
    height: 30px;
}
.starsbar.gdsr-size-30 a.s1 {
    width: 30px;
}
.starsbar.gdsr-size-30 a.s2 {
    width: 60px;
}
.starsbar.gdsr-size-30 a.s3 {
    width: 90px;
}
.starsbar.gdsr-size-30 a.s4 {
    width: 120px;
}
.starsbar.gdsr-size-30 a.s5 {
    width: 150px;
}
.starsbar.gdsr-size-30 a.s6 {
    width: 180px;
}
.starsbar.gdsr-size-30 a.s7 {
    width: 210px;
}
.starsbar.gdsr-size-30 a.s8 {
    width: 240px;
}
.starsbar.gdsr-size-30 a.s9 {
    width: 270px;
}
.starsbar.gdsr-size-30 a.s10 {
    width: 300px;
}
.starsbar.gdsr-size-30 a.s11 {
    width: 330px;
}
.starsbar.gdsr-size-30 a.s12 {
    width: 360px;
}
.starsbar.gdsr-size-30 a.s13 {
    width: 390px;
}
.starsbar.gdsr-size-30 a.s14 {
    width: 420px;
}
.starsbar.gdsr-size-30 a.s15 {
    width: 450px;
}
.starsbar.gdsr-size-30 a.s16 {
    width: 480px;
}
.starsbar.gdsr-size-30 a.s17 {
    width: 510px;
}
.starsbar.gdsr-size-30 a.s18 {
    width: 540px;
}
.starsbar.gdsr-size-30 a.s19 {
    width: 570px;
}
.starsbar.gdsr-size-30 a.s20 {
    width: 600px;
}
.starsbar.gdsr-size-46, .starsbar.gdsr-size-46 .gdheight, .starsbar.gdsr-size-46 a {
    height: 46px;
}
.starsbar.gdsr-size-46 a.s1 {
    width: 46px;
}
.starsbar.gdsr-size-46 a.s2 {
    width: 92px;
}
.starsbar.gdsr-size-46 a.s3 {
    width: 138px;
}
.starsbar.gdsr-size-46 a.s4 {
    width: 184px;
}
.starsbar.gdsr-size-46 a.s5 {
    width: 230px;
}
.starsbar.gdsr-size-46 a.s6 {
    width: 276px;
}
.starsbar.gdsr-size-46 a.s7 {
    width: 322px;
}
.starsbar.gdsr-size-46 a.s8 {
    width: 368px;
}
.starsbar.gdsr-size-46 a.s9 {
    width: 414px;
}
.starsbar.gdsr-size-46 a.s10 {
    width: 460px;
}
.starsbar.gdsr-size-46 a.s11 {
    width: 506px;
}
.starsbar.gdsr-size-46 a.s12 {
    width: 552px;
}
.starsbar.gdsr-size-46 a.s13 {
    width: 598px;
}
.starsbar.gdsr-size-46 a.s14 {
    width: 644px;
}
.starsbar.gdsr-size-46 a.s15 {
    width: 690px;
}
.starsbar.gdsr-size-46 a.s16 {
    width: 736px;
}
.starsbar.gdsr-size-46 a.s17 {
    width: 782px;
}
.starsbar.gdsr-size-46 a.s18 {
    width: 828px;
}
.starsbar.gdsr-size-46 a.s19 {
    width: 874px;
}
.starsbar.gdsr-size-46 a.s20 {
    width: 920px;
}
.ratepost.gdsr-size-12, .ratepost.gdsr-size-12 .starsbar .gdouter {
    width: 60px;
}
.ratepost.gdsr-size-16, .ratepost.gdsr-size-16 .starsbar .gdouter {
    width: 80px;
}
.ratepost.gdsr-size-20, .ratepost.gdsr-size-20 .starsbar .gdouter {
    width: 100px;
}
.ratepost.gdsr-size-24, .ratepost.gdsr-size-24 .starsbar .gdouter {
    width: 120px;
}
.ratepost.gdsr-size-30, .ratepost.gdsr-size-30 .starsbar .gdouter {
    width: 150px;
}
.ratepost.gdsr-size-46, .ratepost.gdsr-size-46 .starsbar .gdouter {
    width: 230px;
}
.rcmmpost.gdsr-size-12, .rcmmpost.gdsr-size-12 .starsbar .gdouter {
    width: 60px;
}
.rcmmpost.gdsr-size-16, .rcmmpost.gdsr-size-16 .starsbar .gdouter {
    width: 80px;
}
.rcmmpost.gdsr-size-20, .rcmmpost.gdsr-size-20 .starsbar .gdouter {
    width: 100px;
}
.rcmmpost.gdsr-size-24, .rcmmpost.gdsr-size-24 .starsbar .gdouter {
    width: 120px;
}
.rcmmpost.gdsr-size-30, .rcmmpost.gdsr-size-30 .starsbar .gdouter {
    width: 150px;
}
.rcmmpost.gdsr-size-46, .rcmmpost.gdsr-size-46 .starsbar .gdouter {
    width: 230px;
}
.rcmmmulti.gdsr-size-12, .rcmmmulti.gdsr-size-12 .starsbar .gdouter {
    width: 240px;
}
.rcmmmulti.gdsr-size-16, .rcmmmulti.gdsr-size-16 .starsbar .gdouter {
    width: 320px;
}
.rcmmmulti.gdsr-size-20, .rcmmmulti.gdsr-size-20 .starsbar .gdouter {
    width: 400px;
}
.rcmmmulti.gdsr-size-24, .rcmmmulti.gdsr-size-24 .starsbar .gdouter {
    width: 480px;
}
.rcmmmulti.gdsr-size-30, .rcmmmulti.gdsr-size-30 .starsbar .gdouter {
    width: 600px;
}
.rcmmmulti.gdsr-size-46, .rcmmmulti.gdsr-size-46 .starsbar .gdouter {
    width: 920px;
}
.ratecmm.gdsr-size-12, .ratecmm.gdsr-size-12 .starsbar .gdouter {
    width: 60px;
}
.ratecmm.gdsr-size-16, .ratecmm.gdsr-size-16 .starsbar .gdouter {
    width: 80px;
}
.ratecmm.gdsr-size-20, .ratecmm.gdsr-size-20 .starsbar .gdouter {
    width: 100px;
}
.ratecmm.gdsr-size-24, .ratecmm.gdsr-size-24 .starsbar .gdouter {
    width: 120px;
}
.ratecmm.gdsr-size-30, .ratecmm.gdsr-size-30 .starsbar .gdouter {
    width: 150px;
}
.ratecmm.gdsr-size-46, .ratecmm.gdsr-size-46 .starsbar .gdouter {
    width: 230px;
}
.reviewcmm.gdsr-size-12, .reviewcmm.gdsr-size-12 .starsbar .gdouter {
    width: 60px;
}
.reviewcmm.gdsr-size-16, .reviewcmm.gdsr-size-16 .starsbar .gdouter {
    width: 80px;
}
.reviewcmm.gdsr-size-20, .reviewcmm.gdsr-size-20 .starsbar .gdouter {
    width: 100px;
}
.reviewcmm.gdsr-size-24, .reviewcmm.gdsr-size-24 .starsbar .gdouter {
    width: 120px;
}
.reviewcmm.gdsr-size-30, .reviewcmm.gdsr-size-30 .starsbar .gdouter {
    width: 150px;
}
.reviewcmm.gdsr-size-46, .reviewcmm.gdsr-size-46 .starsbar .gdouter {
    width: 230px;
}
.gdsr-christmas .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/christmas/stars12.png") repeat-x scroll 0 0 transparent;
}
.gdsr-christmas .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/christmas/stars12.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/christmas/stars12.png") repeat-x scroll 0 -12px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/christmas/stars12.png") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-christmas .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/christmas/stars16.png") repeat-x scroll 0 0 transparent;
}
.gdsr-christmas .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/christmas/stars16.png") repeat-x scroll 0 -32px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/christmas/stars16.png") repeat-x scroll 0 -16px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/christmas/stars16.png") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-christmas .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/christmas/stars20.png") repeat-x scroll 0 0 transparent;
}
.gdsr-christmas .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/christmas/stars20.png") repeat-x scroll 0 -40px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/christmas/stars20.png") repeat-x scroll 0 -20px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/christmas/stars20.png") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-christmas .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/christmas/stars24.png") repeat-x scroll 0 0 transparent;
}
.gdsr-christmas .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/christmas/stars24.png") repeat-x scroll 0 -48px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/christmas/stars24.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/christmas/stars24.png") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-christmas .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/christmas/stars30.png") repeat-x scroll 0 0 transparent;
}
.gdsr-christmas .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/christmas/stars30.png") repeat-x scroll 0 -60px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/christmas/stars30.png") repeat-x scroll 0 -30px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/christmas/stars30.png") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-christmas .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/christmas/stars46.png") repeat-x scroll 0 0 transparent;
}
.gdsr-christmas .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/christmas/stars46.png") repeat-x scroll 0 -92px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/christmas/stars46.png") repeat-x scroll 0 -46px transparent;
}
.gdsr-christmas .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/christmas/stars46.png") repeat-x scroll 0 -46px transparent !important;
}
.gdsr-crystal .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/crystal/stars12.png") repeat-x scroll 0 0 transparent;
}
.gdsr-crystal .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/crystal/stars12.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/crystal/stars12.png") repeat-x scroll 0 -12px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/crystal/stars12.png") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-crystal .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/crystal/stars16.png") repeat-x scroll 0 0 transparent;
}
.gdsr-crystal .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/crystal/stars16.png") repeat-x scroll 0 -32px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/crystal/stars16.png") repeat-x scroll 0 -16px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/crystal/stars16.png") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-crystal .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/crystal/stars20.png") repeat-x scroll 0 0 transparent;
}
.gdsr-crystal .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/crystal/stars20.png") repeat-x scroll 0 -40px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/crystal/stars20.png") repeat-x scroll 0 -20px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/crystal/stars20.png") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-crystal .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/crystal/stars24.png") repeat-x scroll 0 0 transparent;
}
.gdsr-crystal .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/crystal/stars24.png") repeat-x scroll 0 -48px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/crystal/stars24.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/crystal/stars24.png") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-crystal .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/crystal/stars30.png") repeat-x scroll 0 0 transparent;
}
.gdsr-crystal .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/crystal/stars30.png") repeat-x scroll 0 -60px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/crystal/stars30.png") repeat-x scroll 0 -30px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/crystal/stars30.png") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-crystal .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/crystal/stars46.png") repeat-x scroll 0 0 transparent;
}
.gdsr-crystal .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/crystal/stars46.png") repeat-x scroll 0 -92px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/crystal/stars46.png") repeat-x scroll 0 -46px transparent;
}
.gdsr-crystal .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/crystal/stars46.png") repeat-x scroll 0 -46px transparent !important;
}
.gdsr-darkness .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/darkness/stars12.png") repeat-x scroll 0 0 transparent;
}
.gdsr-darkness .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/darkness/stars12.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/darkness/stars12.png") repeat-x scroll 0 -12px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/darkness/stars12.png") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-darkness .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/darkness/stars16.png") repeat-x scroll 0 0 transparent;
}
.gdsr-darkness .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/darkness/stars16.png") repeat-x scroll 0 -32px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/darkness/stars16.png") repeat-x scroll 0 -16px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/darkness/stars16.png") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-darkness .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/darkness/stars20.png") repeat-x scroll 0 0 transparent;
}
.gdsr-darkness .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/darkness/stars20.png") repeat-x scroll 0 -40px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/darkness/stars20.png") repeat-x scroll 0 -20px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/darkness/stars20.png") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-darkness .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/darkness/stars24.png") repeat-x scroll 0 0 transparent;
}
.gdsr-darkness .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/darkness/stars24.png") repeat-x scroll 0 -48px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/darkness/stars24.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/darkness/stars24.png") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-darkness .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/darkness/stars30.png") repeat-x scroll 0 0 transparent;
}
.gdsr-darkness .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/darkness/stars30.png") repeat-x scroll 0 -60px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/darkness/stars30.png") repeat-x scroll 0 -30px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/darkness/stars30.png") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-darkness .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/darkness/stars46.png") repeat-x scroll 0 0 transparent;
}
.gdsr-darkness .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/darkness/stars46.png") repeat-x scroll 0 -92px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/darkness/stars46.png") repeat-x scroll 0 -46px transparent;
}
.gdsr-darkness .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/darkness/stars46.png") repeat-x scroll 0 -46px transparent !important;
}
.gdsr-oxygen .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/oxygen/stars12.png") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/oxygen/stars12.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/oxygen/stars12.png") repeat-x scroll 0 -12px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/oxygen/stars12.png") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-oxygen .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/oxygen/stars16.png") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/oxygen/stars16.png") repeat-x scroll 0 -32px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/oxygen/stars16.png") repeat-x scroll 0 -16px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/oxygen/stars16.png") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-oxygen .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/oxygen/stars20.png") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/oxygen/stars20.png") repeat-x scroll 0 -40px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/oxygen/stars20.png") repeat-x scroll 0 -20px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/oxygen/stars20.png") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-oxygen .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/oxygen/stars24.png") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/oxygen/stars24.png") repeat-x scroll 0 -48px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/oxygen/stars24.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/oxygen/stars24.png") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-oxygen .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/oxygen/stars30.png") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/oxygen/stars30.png") repeat-x scroll 0 -60px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/oxygen/stars30.png") repeat-x scroll 0 -30px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/oxygen/stars30.png") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-oxygen .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/oxygen/stars46.png") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/oxygen/stars46.png") repeat-x scroll 0 -92px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/oxygen/stars46.png") repeat-x scroll 0 -46px transparent;
}
.gdsr-oxygen .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/oxygen/stars46.png") repeat-x scroll 0 -46px transparent !important;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/oxygen_gif/stars12.gif") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/oxygen_gif/stars12.gif") repeat-x scroll 0 -24px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/oxygen_gif/stars12.gif") repeat-x scroll 0 -12px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/oxygen_gif/stars12.gif") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/oxygen_gif/stars16.gif") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/oxygen_gif/stars16.gif") repeat-x scroll 0 -32px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/oxygen_gif/stars16.gif") repeat-x scroll 0 -16px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/oxygen_gif/stars16.gif") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/oxygen_gif/stars20.gif") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/oxygen_gif/stars20.gif") repeat-x scroll 0 -40px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/oxygen_gif/stars20.gif") repeat-x scroll 0 -20px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/oxygen_gif/stars20.gif") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/oxygen_gif/stars24.gif") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/oxygen_gif/stars24.gif") repeat-x scroll 0 -48px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/oxygen_gif/stars24.gif") repeat-x scroll 0 -24px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/oxygen_gif/stars24.gif") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/oxygen_gif/stars30.gif") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/oxygen_gif/stars30.gif") repeat-x scroll 0 -60px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/oxygen_gif/stars30.gif") repeat-x scroll 0 -30px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/oxygen_gif/stars30.gif") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/oxygen_gif/stars46.gif") repeat-x scroll 0 0 transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/oxygen_gif/stars46.gif") repeat-x scroll 0 -92px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/oxygen_gif/stars46.gif") repeat-x scroll 0 -46px transparent;
}
.gdsr-oxygen_gif .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/oxygen_gif/stars46.gif") repeat-x scroll 0 -46px transparent !important;
}
.gdsr-plain .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/plain/stars12.png") repeat-x scroll 0 0 transparent;
}
.gdsr-plain .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/plain/stars12.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-plain .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/plain/stars12.png") repeat-x scroll 0 -12px transparent;
}
.gdsr-plain .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/plain/stars12.png") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-plain .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/plain/stars16.png") repeat-x scroll 0 0 transparent;
}
.gdsr-plain .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/plain/stars16.png") repeat-x scroll 0 -32px transparent;
}
.gdsr-plain .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/plain/stars16.png") repeat-x scroll 0 -16px transparent;
}
.gdsr-plain .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/plain/stars16.png") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-plain .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/plain/stars20.png") repeat-x scroll 0 0 transparent;
}
.gdsr-plain .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/plain/stars20.png") repeat-x scroll 0 -40px transparent;
}
.gdsr-plain .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/plain/stars20.png") repeat-x scroll 0 -20px transparent;
}
.gdsr-plain .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/plain/stars20.png") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-plain .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/plain/stars24.png") repeat-x scroll 0 0 transparent;
}
.gdsr-plain .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/plain/stars24.png") repeat-x scroll 0 -48px transparent;
}
.gdsr-plain .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/plain/stars24.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-plain .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/plain/stars24.png") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-plain .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/plain/stars30.png") repeat-x scroll 0 0 transparent;
}
.gdsr-plain .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/plain/stars30.png") repeat-x scroll 0 -60px transparent;
}
.gdsr-plain .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/plain/stars30.png") repeat-x scroll 0 -30px transparent;
}
.gdsr-plain .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/plain/stars30.png") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-plain .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/plain/stars46.png") repeat-x scroll 0 0 transparent;
}
.gdsr-plain .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/plain/stars46.png") repeat-x scroll 0 -92px transparent;
}
.gdsr-plain .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/plain/stars46.png") repeat-x scroll 0 -46px transparent;
}
.gdsr-plain .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/plain/stars46.png") repeat-x scroll 0 -46px transparent !important;
}
.gdsr-pumpkin .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/pumpkin/stars12.png") repeat-x scroll 0 0 transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/pumpkin/stars12.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/pumpkin/stars12.png") repeat-x scroll 0 -12px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/pumpkin/stars12.png") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-pumpkin .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/pumpkin/stars16.png") repeat-x scroll 0 0 transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/pumpkin/stars16.png") repeat-x scroll 0 -32px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/pumpkin/stars16.png") repeat-x scroll 0 -16px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/pumpkin/stars16.png") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-pumpkin .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/pumpkin/stars20.png") repeat-x scroll 0 0 transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/pumpkin/stars20.png") repeat-x scroll 0 -40px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/pumpkin/stars20.png") repeat-x scroll 0 -20px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/pumpkin/stars20.png") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-pumpkin .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/pumpkin/stars24.png") repeat-x scroll 0 0 transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/pumpkin/stars24.png") repeat-x scroll 0 -48px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/pumpkin/stars24.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/pumpkin/stars24.png") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-pumpkin .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/pumpkin/stars30.png") repeat-x scroll 0 0 transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/pumpkin/stars30.png") repeat-x scroll 0 -60px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/pumpkin/stars30.png") repeat-x scroll 0 -30px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/pumpkin/stars30.png") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-pumpkin .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/pumpkin/stars46.png") repeat-x scroll 0 0 transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/pumpkin/stars46.png") repeat-x scroll 0 -92px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/pumpkin/stars46.png") repeat-x scroll 0 -46px transparent;
}
.gdsr-pumpkin .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/pumpkin/stars46.png") repeat-x scroll 0 -46px transparent !important;
}
.gdsr-soft .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/soft/stars12.png") repeat-x scroll 0 0 transparent;
}
.gdsr-soft .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/soft/stars12.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-soft .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/soft/stars12.png") repeat-x scroll 0 -12px transparent;
}
.gdsr-soft .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/soft/stars12.png") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-soft .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/soft/stars16.png") repeat-x scroll 0 0 transparent;
}
.gdsr-soft .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/soft/stars16.png") repeat-x scroll 0 -32px transparent;
}
.gdsr-soft .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/soft/stars16.png") repeat-x scroll 0 -16px transparent;
}
.gdsr-soft .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/soft/stars16.png") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-soft .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/soft/stars20.png") repeat-x scroll 0 0 transparent;
}
.gdsr-soft .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/soft/stars20.png") repeat-x scroll 0 -40px transparent;
}
.gdsr-soft .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/soft/stars20.png") repeat-x scroll 0 -20px transparent;
}
.gdsr-soft .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/soft/stars20.png") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-soft .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/soft/stars24.png") repeat-x scroll 0 0 transparent;
}
.gdsr-soft .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/soft/stars24.png") repeat-x scroll 0 -48px transparent;
}
.gdsr-soft .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/soft/stars24.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-soft .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/soft/stars24.png") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-soft .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/soft/stars30.png") repeat-x scroll 0 0 transparent;
}
.gdsr-soft .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/soft/stars30.png") repeat-x scroll 0 -60px transparent;
}
.gdsr-soft .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/soft/stars30.png") repeat-x scroll 0 -30px transparent;
}
.gdsr-soft .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/soft/stars30.png") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-soft .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/soft/stars46.png") repeat-x scroll 0 0 transparent;
}
.gdsr-soft .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/soft/stars46.png") repeat-x scroll 0 -92px transparent;
}
.gdsr-soft .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/soft/stars46.png") repeat-x scroll 0 -46px transparent;
}
.gdsr-soft .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/soft/stars46.png") repeat-x scroll 0 -46px transparent !important;
}
.gdsr-starrating .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/starrating/stars12.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starrating .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/starrating/stars12.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/starrating/stars12.png") repeat-x scroll 0 -12px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/starrating/stars12.png") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-starrating .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/starrating/stars16.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starrating .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/starrating/stars16.png") repeat-x scroll 0 -32px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/starrating/stars16.png") repeat-x scroll 0 -16px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/starrating/stars16.png") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-starrating .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/starrating/stars20.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starrating .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/starrating/stars20.png") repeat-x scroll 0 -40px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/starrating/stars20.png") repeat-x scroll 0 -20px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/starrating/stars20.png") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-starrating .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/starrating/stars24.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starrating .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/starrating/stars24.png") repeat-x scroll 0 -48px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/starrating/stars24.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/starrating/stars24.png") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-starrating .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/starrating/stars30.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starrating .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/starrating/stars30.png") repeat-x scroll 0 -60px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/starrating/stars30.png") repeat-x scroll 0 -30px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/starrating/stars30.png") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-starrating .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/starrating/stars46.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starrating .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/starrating/stars46.png") repeat-x scroll 0 -92px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/starrating/stars46.png") repeat-x scroll 0 -46px transparent;
}
.gdsr-starrating .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/starrating/stars46.png") repeat-x scroll 0 -46px transparent !important;
}
.gdsr-starscape .starsbar.gdsr-size-12 .gdouter {
    background: url("../stars/starscape/stars12.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starscape .starsbar.gdsr-size-12 .gdinner {
    background: url("../stars/starscape/stars12.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-12 .gdcurrent {
    background: url("../stars/starscape/stars12.png") repeat-x scroll 0 -12px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-12 a:hover {
    background: url("../stars/starscape/stars12.png") repeat-x scroll 0 -12px transparent !important;
}
.gdsr-starscape .starsbar.gdsr-size-16 .gdouter {
    background: url("../stars/starscape/stars16.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starscape .starsbar.gdsr-size-16 .gdinner {
    background: url("../stars/starscape/stars16.png") repeat-x scroll 0 -32px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-16 .gdcurrent {
    background: url("../stars/starscape/stars16.png") repeat-x scroll 0 -16px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-16 a:hover {
    background: url("../stars/starscape/stars16.png") repeat-x scroll 0 -16px transparent !important;
}
.gdsr-starscape .starsbar.gdsr-size-20 .gdouter {
    background: url("../stars/starscape/stars20.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starscape .starsbar.gdsr-size-20 .gdinner {
    background: url("../stars/starscape/stars20.png") repeat-x scroll 0 -40px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-20 .gdcurrent {
    background: url("../stars/starscape/stars20.png") repeat-x scroll 0 -20px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-20 a:hover {
    background: url("../stars/starscape/stars20.png") repeat-x scroll 0 -20px transparent !important;
}
.gdsr-starscape .starsbar.gdsr-size-24 .gdouter {
    background: url("../stars/starscape/stars24.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starscape .starsbar.gdsr-size-24 .gdinner {
    background: url("../stars/starscape/stars24.png") repeat-x scroll 0 -48px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-24 .gdcurrent {
    background: url("../stars/starscape/stars24.png") repeat-x scroll 0 -24px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-24 a:hover {
    background: url("../stars/starscape/stars24.png") repeat-x scroll 0 -24px transparent !important;
}
.gdsr-starscape .starsbar.gdsr-size-30 .gdouter {
    background: url("../stars/starscape/stars30.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starscape .starsbar.gdsr-size-30 .gdinner {
    background: url("../stars/starscape/stars30.png") repeat-x scroll 0 -60px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-30 .gdcurrent {
    background: url("../stars/starscape/stars30.png") repeat-x scroll 0 -30px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-30 a:hover {
    background: url("../stars/starscape/stars30.png") repeat-x scroll 0 -30px transparent !important;
}
.gdsr-starscape .starsbar.gdsr-size-46 .gdouter {
    background: url("../stars/starscape/stars46.png") repeat-x scroll 0 0 transparent;
}
.gdsr-starscape .starsbar.gdsr-size-46 .gdinner {
    background: url("../stars/starscape/stars46.png") repeat-x scroll 0 -92px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-46 .gdcurrent {
    background: url("../stars/starscape/stars46.png") repeat-x scroll 0 -46px transparent;
}
.gdsr-starscape .starsbar.gdsr-size-46 a:hover {
    background: url("../stars/starscape/stars46.png") repeat-x scroll 0 -46px transparent !important;
}
.ratepost, .rcmmpost, .ratemulti, .rcmmmulti, .ratecmm, .reviewcmm {
    display: block;
    position: relative;
}
.ratepost .starsbar .gdinner, .rcmmpost .starsbar .gdinner, .ratemulti .starsbar .gdinner, .rcmmmulti .starsbar .gdinner, .ratecmm .starsbar .gdinner, .reviewcmm .starsbar .gdinner {
    width: 0;
}
.ratepost .starsbar a:active, .rcmmpost .starsbar a:active, .ratemulti .starsbar a:active, .rcmmmulti .starsbar a:active, .ratecmm .starsbar a:active, .reviewcmm .starsbar a:active {
    border: 0 none !important;
    text-decoration: none;
}
.ratepost .starsbar a:visited, .rcmmpost .starsbar a:visited, .ratemulti .starsbar a:visited, .rcmmmulti .starsbar a:visited, .ratecmm .starsbar a:visited, .reviewcmm .starsbar a:visited {
    border: 0 none !important;
    text-decoration: none;
}
.ratepost .starsbar a:hover, .rcmmpost .starsbar a:hover, .ratemulti .starsbar a:hover, .rcmmmulti .starsbar a:hover, .ratecmm .starsbar a:hover, .reviewcmm .starsbar a:hover {
    border: 0 none !important;
    text-decoration: none;
}
.ratepost .starsbar a, .rcmmpost .starsbar a, .ratemulti .starsbar a, .rcmmmulti .starsbar a, .ratecmm .starsbar a, .reviewcmm .starsbar a {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
}
.gdt-size-12.gdthumbtext {
    line-height: 12px;
}
.gdt-size-12.gdthumb, .gdt-size-12.gdthumb a, .gdt-size-12.gdthumb div {
    height: 12px;
    width: 12px;
}
.gdt-size-12.gdthumb.gddw a, .gdt-size-12.gdthumb.gddw div {
    background-position: 0 -12px !important;
}
.gdt-size-12.gdthumb.gdup a:hover {
    background-position: 0 -24px;
}
.gdt-size-12.gdthumb.gddw a:hover {
    background-position: 0 -36px !important;
}
.gdt-size-12.gdthumb a.gdt-classical, .gdt-size-12.gdthumb div.gdt-classical {
    background: url("../thumbs/classical/thumbs12.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-12.gdthumb a.gdt-starrating, .gdt-size-12.gdthumb div.gdt-starrating {
    background: url("../thumbs/starrating/thumbs12.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-12.gdthumb a.gdt-starrating_gif, .gdt-size-12.gdthumb div.gdt-starrating_gif {
    background: url("../thumbs/starrating_gif/thumbs12.gif") no-repeat scroll 0 0 transparent;
}
.gdt-size-16.gdthumbtext {
    line-height: 16px;
}
.gdt-size-16.gdthumb, .gdt-size-16.gdthumb a, .gdt-size-16.gdthumb div {
    height: 16px;
    width: 16px;
}
.gdt-size-16.gdthumb.gddw a, .gdt-size-16.gdthumb.gddw div {
    background-position: 0 -16px !important;
}
.gdt-size-16.gdthumb.gdup a:hover {
    background-position: 0 -32px;
}
.gdt-size-16.gdthumb.gddw a:hover {
    background-position: 0 -48px !important;
}
.gdt-size-16.gdthumb a.gdt-classical, .gdt-size-16.gdthumb div.gdt-classical {
    background: url("../thumbs/classical/thumbs16.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-16.gdthumb a.gdt-starrating, .gdt-size-16.gdthumb div.gdt-starrating {
    background: url("../thumbs/starrating/thumbs16.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-16.gdthumb a.gdt-starrating_gif, .gdt-size-16.gdthumb div.gdt-starrating_gif {
    background: url("../thumbs/starrating_gif/thumbs16.gif") no-repeat scroll 0 0 transparent;
}
.gdt-size-20.gdthumbtext {
    line-height: 20px;
}
.gdt-size-20.gdthumb, .gdt-size-20.gdthumb a, .gdt-size-20.gdthumb div {
    height: 20px;
    width: 20px;
}
.gdt-size-20.gdthumb.gddw a, .gdt-size-20.gdthumb.gddw div {
    background-position: 0 -20px !important;
}
.gdt-size-20.gdthumb.gdup a:hover {
    background-position: 0 -40px;
}
.gdt-size-20.gdthumb.gddw a:hover {
    background-position: 0 -60px !important;
}
.gdt-size-20.gdthumb a.gdt-classical, .gdt-size-20.gdthumb div.gdt-classical {
    background: url("../thumbs/classical/thumbs20.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-20.gdthumb a.gdt-starrating, .gdt-size-20.gdthumb div.gdt-starrating {
    background: url("../thumbs/starrating/thumbs20.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-20.gdthumb a.gdt-starrating_gif, .gdt-size-20.gdthumb div.gdt-starrating_gif {
    background: url("../thumbs/starrating_gif/thumbs20.gif") no-repeat scroll 0 0 transparent;
}
.gdt-size-24.gdthumbtext {
    line-height: 24px;
}
.gdt-size-24.gdthumb, .gdt-size-24.gdthumb a, .gdt-size-24.gdthumb div {
    height: 24px;
    width: 24px;
}
.gdt-size-24.gdthumb.gddw a, .gdt-size-24.gdthumb.gddw div {
    background-position: 0 -24px !important;
}
.gdt-size-24.gdthumb.gdup a:hover {
    background-position: 0 -48px;
}
.gdt-size-24.gdthumb.gddw a:hover {
    background-position: 0 -72px !important;
}
.gdt-size-24.gdthumb a.gdt-classical, .gdt-size-24.gdthumb div.gdt-classical {
    background: url("../thumbs/classical/thumbs24.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-24.gdthumb a.gdt-starrating, .gdt-size-24.gdthumb div.gdt-starrating {
    background: url("../thumbs/starrating/thumbs24.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-24.gdthumb a.gdt-starrating_gif, .gdt-size-24.gdthumb div.gdt-starrating_gif {
    background: url("../thumbs/starrating_gif/thumbs24.gif") no-repeat scroll 0 0 transparent;
}
.gdt-size-32.gdthumbtext {
    line-height: 32px;
}
.gdt-size-32.gdthumb, .gdt-size-32.gdthumb a, .gdt-size-32.gdthumb div {
    height: 32px;
    width: 32px;
}
.gdt-size-32.gdthumb.gddw a, .gdt-size-32.gdthumb.gddw div {
    background-position: 0 -32px !important;
}
.gdt-size-32.gdthumb.gdup a:hover {
    background-position: 0 -64px;
}
.gdt-size-32.gdthumb.gddw a:hover {
    background-position: 0 -96px !important;
}
.gdt-size-32.gdthumb a.gdt-classical, .gdt-size-32.gdthumb div.gdt-classical {
    background: url("../thumbs/classical/thumbs32.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-32.gdthumb a.gdt-starrating, .gdt-size-32.gdthumb div.gdt-starrating {
    background: url("../thumbs/starrating/thumbs32.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-32.gdthumb a.gdt-starrating_gif, .gdt-size-32.gdthumb div.gdt-starrating_gif {
    background: url("../thumbs/starrating_gif/thumbs32.gif") no-repeat scroll 0 0 transparent;
}
.gdt-size-40.gdthumbtext {
    line-height: 40px;
}
.gdt-size-40.gdthumb, .gdt-size-40.gdthumb a, .gdt-size-40.gdthumb div {
    height: 40px;
    width: 40px;
}
.gdt-size-40.gdthumb.gddw a, .gdt-size-40.gdthumb.gddw div {
    background-position: 0 -40px !important;
}
.gdt-size-40.gdthumb.gdup a:hover {
    background-position: 0 -80px;
}
.gdt-size-40.gdthumb.gddw a:hover {
    background-position: 0 -120px !important;
}
.gdt-size-40.gdthumb a.gdt-classical, .gdt-size-40.gdthumb div.gdt-classical {
    background: url("../thumbs/classical/thumbs40.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-40.gdthumb a.gdt-starrating, .gdt-size-40.gdthumb div.gdt-starrating {
    background: url("../thumbs/starrating/thumbs40.png") no-repeat scroll 0 0 transparent;
}
.gdt-size-40.gdthumb a.gdt-starrating_gif, .gdt-size-40.gdthumb div.gdt-starrating_gif {
    background: url("../thumbs/starrating_gif/thumbs40.gif") no-repeat scroll 0 0 transparent;
}
.gdthumb a {
    border: 0 none !important;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
}
.rtexthumb .gdthumbtext {
    float: none;
}
.gdthumbtext {
    float: left;
    font-size: 12px;
}
.gdthumb {
    float: left;
    position: relative;
}
.gdthumb.gdup a {
    background-position: 0 0;
}
.thumblock .ratingloader {
    float: left;
}
.ratemulti .starsbar .gdcurrent {
    position: absolute;
    top: 0;
    width: 0;
}
.starsbar .gdinner {
    padding: 0;
}
.ratingblock td {
    vertical-align: middle;
}
.raterclear {
    clear: both;
}
.raterleft {
    float: left;
}
.raterright {
    float: right;
}
.voted {
    color: #999999;
}
.inactive {
    color: #999999;
}
.thanks {
    color: #36AA3D;
}
.static {
    color: #5D3126;
}
.rater {
    top: 0;
}
.ratingtextmulti {
    float: left;
}
.ratingbutton {
    float: right;
    padding: 1px 6px;
}
.ratingbutton.gdinactive {
    background-color: #E9E4D4;
    border: 1px solid #9C5F5F;
}
.ratingbutton.gdactive {
    background-color: #F1EDE5;
    border: 1px solid black;
    cursor: pointer;
}
.ratingbutton a {
    line-height: 14px;
    text-decoration: none !important;
}
.ratingbutton.gdactive {
    cursor: pointer;
}
.ratingbutton.gdactive a {
    color: #AD1B1B;
    cursor: pointer;
}
.ratingbutton.gdinactive a {
    color: gray;
    cursor: default;
}
.gdmultitable {
    border: 1px solid #999999;
    margin: 3px;
    padding: 3px;
}
.gdtblbottom td {
    padding-top: 4px;
}
.gdtblbottom {
    background-color: #FFFCF4;
    margin-top: 2px;
}
.mtrow {
    background-color: #FFFCF4;
}
.mtrow td.mtstars {
    text-align: right;
}
.mtrow.alternate {
    background-color: #F7F4EA;
}
.gdtblmuravg {
    background-color: #FFFCF4;
}
.gdtblmuravg td {
    border-top: 2px solid #DCDCDC;
    text-align: center;
}
.gdmultitable td {
    color: black;
    padding: 2px 4px;
    vertical-align: middle;
}
.ratingblock, .thumblock {
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.ratingstarsinline {
    float: left;
}
.ratingtext {
    margin-bottom: 2px;
    margin-top: 0;
    padding-bottom: 2px;
}
.ratingmulti img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.gdouter {
    text-align: left;
}
.ratingblockarticle {
    font-size: 1em;
}
.ratingblockcomment {
    font-size: 0.8em;
}
.ratingloaderarticle, .ratingloadercomment {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.cmminthide {
    display: none;
}
.loader {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.loader.flower {
    background: url("../gfx/loader/flower.gif") no-repeat scroll left center transparent;
    padding-left: 18px;
}
.loader.flower.width {
    width: 16px;
}
.loader.width {
    padding-left: 0;
}
.loader.arrows.thumb, .loader.flower.thumb, .loader.circle.thumb, .loader.broken.thumb, .loader.radar.thumb, .loader.triangles.thumb, .loader.snake.thumb, .loader.snakebig.thumb, .loader.brokenbig.thumb {
    background-position: center center !important;
    padding-left: 0 !important;
}
.trw-title {
    font-family: "Century Gothic",Arial,Helvetica,sans-serif;
    font-size: 16px;
    text-align: center;
}
.trw-rating {
    font-family: "Century Gothic",Arial,Helvetica,sans-serif;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}
.trw-footer {
    font-family: "Century Gothic",Geneva,Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-align: center;
}
.gdsrcacheloader {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin: 3px;
    padding: 3px;
}
.gdsrclsmall {
    background: url("../gfx/load_small.png") no-repeat scroll left center transparent;
    padding-left: 28px;
    width: 120px;
}
.gdsrclbig {
    background: url("../gfx/load_big.png") no-repeat scroll left center transparent;
    padding-left: 46px;
    width: 160px;
}
.gdsrclsmall strong {
    font-size: 14px;
}
.gdsrclsmall em {
    font-size: 11px;
}
.gdsrclbig strong {
    font-size: 17px;
}
.gdsrclbig em {
    font-size: 14px;
}
