/* Sports Action Profiles stuff */

h1 {
	/*font-family: Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Open Sans', sans-serif;
    /*font-weight: 400;*/
	font-size: 24px;
	margin: 0 30px 10px 30px;
	}



#med {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin: 0;
	}	

h2 {
	/*font-family: Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Open Sans', sans-serif;
    /*font-weight: 400;*/
	font-size: 20px;
	margin: 0 30px 10px 30px;
	}


/*p#sa-txt {
	font-family: Georgia, serif;
	font-size: 18px;
	}*/

p {
	/*font-family: Georgia, serif;*/
	/*font-family: 'Italiana', serif;*/
	font-family: 'PT Serif', serif;
	line-height: 20px;
	font-size: 18px;
	margin: 10px 30px 20px 30px;
	}

li#asl {
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-family: 'PT Serif', serif;
	font-size: 18px;
	line-height: 26px;
	}

#sml {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	/*font-style: normal;*/
	margin: 0;
}		

#container-sa {
	width: 800px;
	margin: 40px auto;
	background-color: #ECEDD1;
	position: relative;
	}

#upper-container {
	padding: 20px;
	width: 800px;
	margin: 0;
	height: 440px;
	background-color: #D3D4BA;
	}
#profiles-sa {
	padding: 15px;
	margin: 0;
	width: 510px;
	float: left;
	background-color: #F9FADC;
	}
#allsports {
	margin: 104px 0 30px 0;
	padding: 15px;
	width: 200px;
	float: right;
	background-color: #F9FADC;
	}

#lower-container {
	float: left;
	margin: 10px 0;
	padding: 10px 30px;
	background-color: #F9FADC;
	}	

#basic {
	float: left;
	padding: 20px 20px 0 20px;	
	background-color: #D3D4BA;
	}
#pro {
	float: right;
	width: 320px;
	padding: 20px 20px 0 20px;	
	background-color: #D3D4BA;
	}
#add-on {
	float: left;
	margin: 10px 0 0 0;
	padding: 20px;	
	/*background-color: yellow;*/
	}
#main_clear {
	overflow: auto;
	}

.red-italic {
	color: #C70000;
	/*font-style: italic;*/
	}

.sapBtn	{
	position: absolute;
	width: 150px;
	top: 0px;
	left: 860px;
	}	

.sapBtnPage {
	/*float: right;*/
	}

.top { 
	position: absolute; 
	top: -50px; 
	right: -10px; 
	}

ul.style {
margin: 5px 0 20px 0;
	}
