@media print {
#header  {
	display: none;
	}
#leftcolumn  {
	display: none;
	}
#ftn1 {
	margin-top: 10px;
	border-top: 3px dotted #cccccc;
	padding: 0px 20px;
	font-size: .9em;
	}
hr.clear   {
	display: none;
	}
}

@media screen {
body {
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	background-color:#fff;
	background-image:url(../images/siteimages/body_bg.jpg);
	background-repeat:repeat-x;
	}
h1, h2, h3, h4 {
	padding: 7px 26px;
	margin: 0;
}
h1 {
	font-size: 1.5em;
	}
h2 {
	background-color: #c00;
	color: #fff;
	text-transform:uppercase;
	font-size: 1em;
	margin-left: 26px;
	margin-right: 26px;
	padding-left: 26px;
	
	}
h3 {color: #c00}
h3 a{color: #000}
h3 a.this{color: #c00;text-decoration:none;}
h3 a:hover{color: #c00}
p {
	line-height: 1.4em;
	padding: 10px 26px;
	margin: 0;
	}
a {
	color: #333333;
	}
blockquote {
	margin: 0 20px; 
	padding: 0;
	font-size: .9em;
	}
em {
	font-family: "Times New Roman", Times, serif;
	}

#container {
	width: 824px; 
	margin: 0 auto;
	padding: 0;
	background-image:url(../images/siteimages/shadow_824.png);
	border-bottom: 0px solid transparent;
	}
#topper {
	width: 800px;
	margin-left: 12px;
	height: 27px;
	background-color:#000;
	}
#header {
	width: 800px;
	margin-left: 12px;
	height: 80px;
	background-color:#fff;
	border-bottom: 1px dotted #000;
	}
#wrapper {
	width: 800px;
	background-color:#ffffff;
	margin: 0; 
	padding: 0;
	margin-left: 12px;
	}
#leftcolumn {
	float: left; 
	width: 188px;
	margin-top: 10px;
	background-color: #FFFFFF;
	}
#leftcolumn ul {
	margin: 0 0 0 26px; 
	padding: 0; 
	list-style-type: none;
	}

#leftcolumn li {
	width: 130px;
	height: 33px;
	margin:  0; 
	padding: 6px 0 0 60px;
	line-height: 1.1em;
	list-style:none;
	}

#leftcolumn li.home {
	background-image: url(../images/siteimages/navbutton_home.jpg);
	background-repeat:no-repeat;
	}
#leftcolumn li.order {
	background-image: url(../images/siteimages/navbutton_order.jpg);
	background-repeat:no-repeat;
	}
#leftcolumn li.subject {
	background-image: url(../images/siteimages/navbutton_subject.jpg);
	background-repeat:no-repeat;
	}
#leftcolumn li.news {
	background-image: url(../images/siteimages/navbutton_news.jpg);
	background-repeat:no-repeat;
	}
#leftcolumn li.email {
	background-image: url(../images/siteimages/navbutton_email.jpg);
	background-repeat:no-repeat;
	}
#leftcolumn a {
	color: #000; 
	text-decoration: none;
	font-size: 1em;
	}
#leftcolumn a:hover {
	color: #000; 
	text-decoration: underline;
	}
#leftcolumn .textbox {
	width: 164px;
	background-color: #000;
	color: #fff;
	margin-left: 26px;
	}
#leftcolumn .textbox p {
	/*font-size: .9em;*/
	font-size: 14.4px;
	line-height: 1.4em;
	padding: 10px 16px;
	margin: 0;
	}
#content {
	float: right;
	width: 610px;
	background-color: #FFFFFF;
	}
#content #contentbox {
	background-color: #dcddde;
	width: 556px;
	margin: 10px 26px;
	}
#content .halfcol {
	float: left;
	width: 292px;
	}
.table {
	margin: 10px 40px; 
	padding: 10px;
	border: 1px dotted #999999;
	background-color: #f3f3f3;
	}
a.more {
	text-decoration: none;color: #000000
	}
a.more:hover {
	text-decoration: underline overline;
	}

#footer {
	width: 824px;
	height: 47px;
	margin: 0 auto;
	margin-top:3px;
	padding-top: 10px;
	font-size: .8em;
	background-image:url(../images/siteimages/footer_shadow.png);
	background-repeat: no-repeat;
	text-align:center;
	}

#footer a {
	text-decoration: none;
	}
#footer a:hover {
	text-decoration: underline overline;
	}
hr.clear { 
	/* This keeps the container from collapsing. Use <hr class="clear" /> 
	right before you close the container. See approx line 113 on home page.   */
	display: block; 
	clear: both; 
	margin: -0.66em 0;
    visibility: hidden;
	}

.leftpic {	
	float: left;
	margin-right:20px;
	width:125px; 
	height:100px;
	}
.rightpic {	
	float: right;
	margin-left:20px;
	width:125px; 
	height:100px;
	}

	/* jdm additions */

.sapBtn	{
	position: absolute;
	width: 150px;
	top: 0px;
	left: 860px;
	}	

.topBtn {
	position: absolute;
	top: -20px;
	right: -50px;
}

.tophead {
	position: relative;
}
	
} /* End @meida screen */
/* CSS Document */
