.navbar-inner {
	min-height: 112px;
	margin-bottom: 20px;

}


.more-height {
	margin-top: 150px;
}

.navbar .brand {
	float: right;
}

#footer {

}
/********************************/
/*********Color******************/
/********************************/

.navbar .brand {
  color: #cccccc;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #265573;
}

.navbar-inverse .navbar-link {
  color: #cccccc;
}

.navbar-inverse .navbar-inner {

background: -moz-linear-gradient(top,  rgba(38,85,115,1) 0%, rgba(38,85,115,1) 54%, rgba(38,85,115,0.71) 90%, rgba(38,85,115,0.58) 99%, rgba(38,85,115,0.56) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,85,115,1)), color-stop(54%,rgba(38,85,115,1)), color-stop(90%,rgba(38,85,115,0.71)), color-stop(99%,rgba(38,85,115,0.58)), color-stop(100%,rgba(38,85,115,0.56))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(38,85,115,1) 0%,rgba(38,85,115,1) 54%,rgba(38,85,115,0.71) 90%,rgba(38,85,115,0.58) 99%,rgba(38,85,115,0.56) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(38,85,115,1) 0%,rgba(38,85,115,1) 54%,rgba(38,85,115,0.71) 90%,rgba(38,85,115,0.58) 99%,rgba(38,85,115,0.56) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(38,85,115,1) 0%,rgba(38,85,115,1) 54%,rgba(38,85,115,0.71) 90%,rgba(38,85,115,0.58) 99%,rgba(38,85,115,0.56) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(38,85,115,1) 0%,rgba(38,85,115,1) 54%,rgba(38,85,115,0.71) 90%,rgba(38,85,115,0.58) 99%,rgba(38,85,115,0.56) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#265573', endColorstr='#8f265573',GradientType=0 ); /* IE6-9 */


border: none;

background-repeat: repeat-x;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

}

#footer {

  
}



/********************************/
/*********Footer Stuff***********/
/********************************/
 html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
       /* margin: 0 auto -60px;*/
       margin: 0 auto -120px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        /*height: 60px;*/
        height: 120px;
      }
      #footer {
       /* background-color: #f5f5f5;*/
        background-color: #000000;        
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }


      }


/********************/
/********************/
/********************/



@media (max-width: 979px) {

body {
	padding-left: 0;
	padding-right: 0;
}
.more-height {
  margin-top: 10px;

}


}
/*foo*/





@media (max-width: 480px) and (max-width: 979px) {
/* @media (min-width: 768px) and (max-width: 979px) */



	.more-height {
		margin-top: 10px;
	}
	.navbar-inner {
		min-height: 95px;
		margin-bottom: 20px;
	}

}




@media (max-width: 767px) {

.more-height {
	margin-top: 10px;

}





}