.navbar-inner {
	min-height: 112px;
	margin-bottom: 20px;

}


.more-height {
	margin-top: 150px;
}

.navbar .brand {
	float: right;
}

#footer {

}
/********************************/
/*********Color******************/
/********************************/

.navbar .brand {
  color: #cccccc;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #34495d;
}

.navbar-inverse .navbar-link {
  color: #cccccc;
}

.navbar-inverse .navbar-inner {


background: #34495d;


border: none;

background-repeat: repeat-x;

/*  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/

}





/********************************/
/*********Footer Stuff***********/
/********************************/
 html,
      body {
        height: 100%;
        background-color: #ecf0f1;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
       /* margin: 0 auto -60px;*/
       margin: 0 auto -120px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        /*height: 60px;*/
        height: 120px;
      }
      #footer {
        /*background-color: #c03a2a; */         /*  Pomigranate */
       /* background-color: #e64c3b;  */        /*  Alizarin    */     

        /*background-color: #d15527;  */        /*  Pumpkin     */
        /*background-color: #e57d24; */         /*  Carrot      */
        /*background-color: #f1c40f; */         /*  Sun Flower  */
        /*background-color: #BE9B0C; */
        /*background-color: #D1AA0D;*/ 

        /*background-color: #f39c12; */         /*  Orange      */        
        /*background-color: #4eb96e ;  */       /*  Emerald     */
        /*background-color: #25b89a ;   */      /*  Turquoise   */
        /*background-color: #24ad5f ; */        /*  Nephritis   */
        /*background-color: #13a085 ;  */       /*  Green Sea   */
        /*background-color: #3b97d3 ;  */       /*  Peter River */
        /*background-color: #2980b9 ;  */       /*  Belize Hole */

        background-color: #95a5a6;          /*  Concrete */
        /*background-color: #ecf0f1;*/          /*  Clouds */
        /*background-color: #7f8c8d;    */      /*  Asbestos */
        /*background-color: #bdc3c7;*/          /*  Silver */

        color: #34495d;

      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }


      }

      .foot-p {
        /*color: #7f8c8d;*/
        color: #5C6666;
      }


/********************/
/********************/
/********************/



@media (max-width: 979px) {

body {
	padding-left: 0;
	padding-right: 0;
}
.more-height {
  margin-top: 10px;

}


}
/*foo*/





@media (max-width: 480px) and (max-width: 979px) {
/* @media (min-width: 768px) and (max-width: 979px) */

	.more-height {
		margin-top: 10px;
	}
	.navbar-inner {
		min-height: 95px;
		margin-bottom: 20px;
	}

}




@media (max-width: 767px) {

.more-height {
	margin-top: 10px;

}





}