.navbar-inner {
	min-height: 112px;
	margin-bottom: 20px;
}

.more-height {
	margin-top: 150px;
}

.navbar .brand {
	float: right;
}


@media (max-width: 979px) {


}

@media (min-width: 768px) and (max-width: 979px) {

.more-height {
	margin-top: 10px;
}
.navbar-inner {
	min-height: 95px;
	margin-bottom: 20px;
}

}



@media (max-width: 767px) {

.more-height {
	margin-top: 10px;

}





}